.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  cursor: pointer;
}

.App-header {
  border: solid 2px #000000;
  background-color: #282c34;
  
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fbd420;
}

